/********* GENERAL *********/
body{font-size: 15px; color: #000; background-color: lightslategray;}
.hidden{display: none;}

/********* Fonts *********/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/* font-family: 'Libre Baskerville', serif */

/********* Navbar Override *********/
.navbar-brand{z-index: 101;}

/********* Navbar *********/
.nav-icon, .nav-icon-menu{border: none; background: none;}
.nav-icon{font-size: 1.9em} .nav-i-menu{font-size: 1.5em;}
nav input{height: 2em;}

/********* Layers *********/
#menu .row{padding: 0 !important;}
.container-layer{width: 100%; height: 100%; margin: 0; position: fixed; z-index: 99; background-color: black;
                opacity: 0.85;}
.container-on-layer{width: 100%; height: 100%; margin: 0; position: fixed; z-index: 100;}

/* Left Menu */
.left-menu ul{list-style: none; margin-left: -1.5em;}
.left-menu .menu-item{color: #fff; font-size: 1.15em; margin-top: 0.3em;}
.left-menu .menu-header{margin-top: 1.6em; font-size: 1.75em; font-family: 'Libre Baskerville', serif; margin-bottom: 0.7em;}
.left-menu a{color: #9fcdff;}
.menu-alt-item{margin-left: 1.3em;}
.menu-footer-item{font-size: 0.82em; margin-bottom: 0.2em;}

/* Message Area */
.message-area{border: 1px solid #fff; height: 100%;}
.message-area .row{padding: 0;}
.message-control{top: 0; height: 2.6em;}
.message-control button{color: #fff; height: 1.6em; width: 1.6em;}
.message-control input{height: 2em;}
.message-box{border: 1px solid #fff; color: #fff;}
.message-box p{margin-top: -0.5em;}

/* profile-notifications* */
.profile-notifications{padding: 0 1em 0 2.8em;}

/* Profile */
.profile-area{text-align: center; background-color: #fff; color: #000; height: 13em; padding: 0.3em 0; float: right;}
.pPhoto{border-radius: 100%;}
.user{font-size: 1.32em;}
.userPerm{font-size: 1.18em;}
.profile-area a{font-size: 0.85em;}

/* Notifications */
.notification{height: 3em; color: #fff; border: 1px solid #fff; margin-top: 0.2em;}
.notification-header{height: 2em; color: #fff;}
/********* Calendar *********/
.soonest-class{margin-right: 5em; background-color: #000; color: #fff; width: 50em; height: 1em; margin-top: 0.50em;}

/********* Graphs *********/

/********* Post *********/

/********* New Students *********/
.student{ margin: auto; height: 2.85em; margin-bottom: 1em;}

/********* Add User *********/

/********* Events *********/



/********* Geçici *********/

.container-fluid div{border: 1px solid #000;}
.row{border: none !important;}
.row{padding: 1em 0;} .graph{margin: auto; height: 20em; background-color: darkslateblue;} .add{margin: auto; height: 15em;} .add-user, .events{height: 12em;}
.add{background-color: indianred;}